html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
	padding: 10px;
}

.nav {
	color: red;
}

.social {
	display: flex;
	margin-bottom: 40px;
}
.social__item {
	margin-right: 10px;
}
.social__link:hover {
	color: blue;
}

.list {
	margin: 30px;
}

.item {
	
	border: 1px solid blue;
	border-radius: 5px;
	max-width: 800px;	
	margin-bottom: 15px;
	transition: background-color 0.3s;
}
.item:hover {
	background-color: #cecece;
}
.link {
	display: flex;
}
.brand {
	width: 200px;
	text-align: center;
}
.image {	
	max-height: 100px;
}

.spinner__none {
	display: none;
}

.wrap {
	max-width: 800px;
	margin: 0 auto;
}

.car {
	margin: 0 auto;
}
.car__brand {
	margin: 30px 0;
	text-align:center
}
.car__content {
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 1.5;
}
.car__image {
	width: 500px
}

